body{
   text-align: right;
}

h2 {
    color: red;
    text-align: center;
    border: 5px solid rgba(200, 220, 180, 0.8);
    cursor: progress;
    
}

.random{
    border-style: groove;
    color: white;
    
}

p{
    color: green;

}

h2 + p:hover{
    color: blue;
    text-align: center;
}

h2 p:hover{
    color: darkgoldenrod;
    text-align: left;
}

li{
    list-style: none; /*removes the dots in front of the list*/
    display: inline-block;
}

#div1{
    color: rgba(10, 190, 72, .3);
    font-family: cursive;
}

#div2{
    color: black;
    font-family: fantasy;
}