body{
    background-image: url(https://image.shutterstock.com/image-photo/imam-ali-shrine-clock-gate-260nw-1487993213.jpg);
    background-size: cover;
}

h2 {
    color: red;
    text-align: center;
    border: 5px solid red;
    cursor: progress;
    
}

p{
    color: green;
}

p{
    color: blue;
}

li{
    list-style: none; /*removes the dots in front of the list*/
    display: inline-block;
}

