body{
    margin: 0px;
}
h1{
    font-family: fantasy;
    font-size: 3em;
    /* background-color: rgba(29, 203, 29, 0.3); */
    border-bottom: solid;
    border-right: solid;
    text-align: center;
    width: 400px;
    box-shadow: 4px 4px 5px gray;
    margin-top: 10px;
}

h1:hover{
    color: green;
}

.container{
    display: flex;
    flex-direction: row; /*this is by default row*/
    flex-wrap: wrap;
    /* By default, flex items will all try to fit onto one line. You can change that 
    and allow the items to wrap as needed with this property. */
    justify-content: center;

    /*use flex-direction if you wanna include align-items or align-content*/
    height: auto;
    align-items: center;
    
    
    
    
}

img{
    width: 250px;
    height: 200px;
    margin: 10px; /*puts space between the pictures*/
    transition: all 1s;
    
}
div img:hover{
    transform: scale(1.5);
}
