h1{
    text-align: center;
    background-color: rgba(29, 203, 29, 0.3);
}

h1:hover{
    color: green;
}

.container{
    display: flex;
    flex-wrap: wrap;
    /* By default, flex items will all try to fit onto one line. You can change that 
    and allow the items to wrap as needed with this property. */
}

img{
    width: 250px;
    height: 200px;
}

