body {
    font-family: 'Times New Roman', Times, serif'
}

#product-overview {
    background-color: green;
    font-family: fantasy;
    color: aqua;
    padding: 20px;
    border: 5px black solid;
    margin: 20px;
}

.section-title{
    font-weight: 300;
    color: chartreuse;
    font-family: inherit;
}
#product-overview h1 {
    font-family: cursive;
    color: magenta;
}
/* any h1 INSIDE of the product-overview id will have this styling applied to it*/

h1 {
    color: cadetblue;
    font-family: cursive;
}


